<%- include("partials/header.ejs") %>
<div class="atas">
    <div class="judul">
        <h1>
            Work List 
        </h1>
    </div>
</div>
<div id="utama">
    <div class="items">
        <% if (locals.isi){ %>
            <% for(var i=0;i<isi.length;i++){%>
        <div class="item output">
            <input class="checkbox" type="checkbox">
            <label class="content"><%= isi[i] %></label>
        </div>
            <% } %>
        <% } %>
        <form class="item" action="/workpost" method="post">
            <input class="input1" type="text" name="newWork" placeholder="New Item" autocomplete="off">
            <button type="submit" value="work">+</button>
        </form>
    </div>
</div>


<%- include("partials/footer.ejs") %>